<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Register</title>
        <style>
            #label{
                position: absolute;
                width: 50%;
                border: 2px solid blue;
            }
            .teamdetails{
                position: relative;
                align-items: center;
                left: 50%;
            }
        </style>
    </head>
    <body>
        <h1>Assignment-1</h1>
        <h1></h1>
        <div class="teamDetails">
            <table>
                <tr>Derick-----19BCS090</tr><br>
                <tr>Nishanth--19BCS093</tr><br>
                <tr>Madhan---19BCS098</tr><br>
                <tr>Vishwa----19BCS100</tr><br>
            </table>
        </div>
        <div class="registration">
            <h3>Registration form</h3>
            <form method="POST">
                <label for="name">
                    <input type="text" name="username" id="username" placeholder="UserName">
                </label><br><br>
                <label for="email">
                    <input type="email" name="email" id="email" placeholder="Email">
                </label><br><br>
                <label for="phone">
                    <input type="text" name="phone" id="phone" placeholder="PhoneNumber">
                </label><br><br>
                <label for="password">
                   <input type="password" name="password" id="password" placeholder="Password">
                </label><br><br>
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>